.faq{
    max-width: 1440px;
    padding: 50px 103px;
    font-family: GT Cinetype Trial;
    font-weight: 400;
    color: #50735F;
    line-height: 1;
}

.faq h3{
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}

.frame{
    text-align: center;
}

.frame p{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.frame h2{
    font-family: Linotype Didot Std;
    font-size: 48px;
    margin-bottom: 60px;
}

.frame img{
    display: flex;
    margin: 0 auto;
    margin-bottom: 60px;
}

.table{
    width: 810px;
    margin: 0 auto;
}

.table h3{
    text-align: start;
}

.question {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc; 
    padding: 20px 0 10px 0; 
    margin: 0;
  }

.question h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.unswer li{
    display: flex;
    padding-bottom: 10px;
}





