.container {
  max-width: 1440px;
    position: relative;
  }

  .hero{
    position: absolute;
    top: 288px;
    left: 740px;
  }
  
  .heroText {
    color: #ffffff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }

  .heroText h1{
    width: 397px;
    font-family: GT Cinetype Trial;
    font-weight: 400;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 20px;
  }

  .heroText p{
    font-family: GT Cinetype Trial;
    max-width: 314px;
    font-weight: 400;
    font-size: 14px;
  }

  .scrollContainer {
    position: absolute;
    bottom: 60px;
    right: 146px;
  }

  .scroll {
    font-family: GT Cinetype Trial;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
